<div style="max-width: 500px;border-radius: 4px;padding: 30px 20px;display: flex;flex-direction: column;align-items: center;justify-content: center;min-height: 300px;
margin-left: 450px;margin-top:150px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <svg alt="Succesfully Signed Up" xmlns="http://www.w3.org/2000/svg" width="82" height="82" viewBox="0 0 82 82"
        style="width: 60px;height: 60px;">
        <g fill="#068DFE" fill-rule="evenodd">
            <path fill-rule="nonzero"
                d="M73.44 40.8c0 17.952-14.688 32.64-32.64 32.64-17.952 0-32.64-14.688-32.64-32.64 0-17.952 14.688-32.64 32.64-32.64 3.264 0 6.12.408 8.976 1.224l6.528-6.528C51.408 1.224 46.104 0 40.8 0 18.36 0 0 18.36 0 40.8c0 22.44 18.36 40.8 40.8 40.8 22.44 0 40.8-18.36 40.8-40.8h-8.16z"
                opacity=".4"></path>
            <path d="M24.072 33.048L18.36 38.76l18.36 18.36 40.8-40.8-5.712-5.712L36.72 45.696z"></path>
        </g>
    </svg>
    <h5 style="margin-top:30px;font-family: Arial, Helvetica, sans-serif;font-weight:bold">Quiz Complete!</h5>
    <h6 style="margin-bottom: 30px;">Results will be announced shortly!</h6>
    <button class="btn btn-danger" style="width: 100px;">Close</button>
</div>