<div class="box" style="border-radius: 4px;padding: 0 40px;max-width: 550px;display: flex;flex-direction: column;margin-left:350px;margin-top:80px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">
    <p
        style="text-align: center;padding-top:10px;font-weight:bold;font-size:30px;font-family:'Times New Roman', Times, serif;color: #ff6600">
        Fastest Finger First</p>
    <h6 style="margin: 0;font-size: 19px;font-family: sans-serif;color:rgb(87, 85, 82)">Rules:</h6>

    <ul class="square">
        <li>You will have to answer 30 questions in total.</li>
        <li>For each question, you'll be given a time of 30 seconds. In which you'll have to select the order.</li>
        <li>Once you submit the answer there is no going back.</li>
        <li>For each correct answer, you'll get 10 points.</li>
        <li>And if you have scored correctly, for the time remaining, you'll get the amount of time left/2 points.</li>
        <li>Let's say I answered correctly on the 5th seconds I'll get (20 - 5)/2 i.e 7.5 points + 10 for the correct
            answer (Total - 17.5 points)</li>
        <li>The Game will begin at 4:30 sharp!</li>
        <li>The access to the game will be given for 30 mins.</li>
    </ul>

    <button style="align-self: center;padding: 5px 15px;margin-bottom: 25px;margin-top: 15px;
font-weight:bold;" class="btn btn-primary" [routerLink]="['/quiz']" routerLinkActive="router-link-active"> Lets
        Start!</button>
</div>